{% extends 'queue_app/base.html' %}

{% block content %}
<div class="form-container">
    <form method="post" action="{% url 'new_ticket' 'B' %}">
        {% csrf_token %}
        <button type="submit" class="btn">Get New Bachelor Ticket</button>
    </form>
    <form method="post" action="{% url 'new_ticket' 'M' %}">
        {% csrf_token %}
        <button type="submit" class="btn">Get New Magistracy Ticket</button>
    </form>
</div>
{% if new_ticket_number %}
    <div class="notification">
        <h2>New Ticket: {{ new_ticket_number }}</h2>
    </div>
{% endif %}
{% endblock %}
